@page
@model IndexModel
@{
    ViewData["Title"] = "Index page";
}

<main class="align-items-center ">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-12 col-lg-6  d-md-block">
                <div class="position-relative overflow-hidden">
                    <img src="~/images/Company-pana.svg" alt="login image">
                </div>
            </div>

            <!-- Content Column -->
            <div class="col-12  col-lg-6 d-flex align-items-center">
                <div class="p-4 p-lg-5">
                    <h2 class="display-6 fw-bold mb-4">Welcome Back</h2>
                    <p class="lead text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum quis
                        quaerat repellendus laboriosam, ipsa commodi, ducimus, odio omnis quas dolorum asperiores
                        quisquam! Totam voluptatem quas sed porro quaerat error repudiandae?</p>


                    <!-- Optional call to action -->
                    <div class="mt-5">
                        <a href="#" class="btn btn-primary px-4 py-2">Get Started</a>
                        <a href="#" class="btn btn-outline-secondary px-4 py-2 ms-2">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="events">
        <div class="header d-flex justify-content-between container">
            <h2>Upcoming Events</h2>
            <a class="" href="#">
                <b>View All</b>
            </a>
        </div>
    </section>
</main>